<div id="container" class="signupform col-sm-8 col-sm-offset-2">
  <div class="head">
    <h1>Add Payment Information</h1>
  </div>
  <div>
    <div class="panel panel-info">
      <div class="panel-heading">
      Verify your payment information
      </div>
      <div class="panel-body">
        <div class="cardContainer">
          <form stripe-form="stripeCallback" name="checkoutForm">>
            <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card" />
            <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" name="expiry" />
            <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" /><br />
            <button class="btn btn-success" type="submit">Submit</button>
          </form> 
        </div>
      </div>
    </div> 
  </div>
</div>