language: node_js
before_install:
  - npm update -g npm
before_script:
  - npm install -g grunt-cli
  - npm install -g bower
  - bower install
node_js:
  - '0.8'
  - '0.10'
notifications:
  email: false
